@model IEnumerable<WebQLTV.DomainModel.ChiTietMuon>
@{
            //ViewBag.Title = "Index";


}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printd T-Shirt - RedStore</title>
    <link rel="stylesheet" href="~/content/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .table tr td{
            text-align:center;
        }
    </style>
</head>

<body>


    <!-- -----------------cart item details------------------- -->
    <div class="small-container ">
        <div class="row row-2" style="border-bottom:3px solid #0094ff;padding-bottom:10px">
            <h2><strong style="font-size:25px">LỊCH SỬ MƯỢN SÁCH</strong></h2>
           
            <form action="~/history" method="post" >
                <select style="margin-left: -330px; border: 1px solid #0094ff; margin-left: 300px" name="TrangThai">
                    @if (ViewBag.s == -1)
                    {
                        <option>Đang chờ</option>
                        <option value="Null">Tất cả</option>
                    }
                    else if (ViewBag.s == 0)
                    {
                        <option>Chưa trả</option>
                        <option value="Null">Tất cả</option>

                    }
                    else if (ViewBag.s == 1)
                    {
                        <option>Đã trả</option>
                        <option value="Null">Tất cả</option>

                    }
                    else
                    {
                        <option value="Null">--Trạng thái--</option>
                    }

                    <option value="0">Chưa trả</option>
                    <option value="1">Đã trả</option>
                    <option value="-1">Đang chờ</option>

                </select>
                <button id="ss" type="submit" style="border:1px solid white"> </button>
            </form>

        
        </div>

        <table>
            <tr>
                <th style="background:#0094ff"></th>
             
                <th style="background:#0094ff">Ngày mượn</th>
                <th style="background:#0094ff">Ngày trả</th>
                <th style="background:#0094ff">Số lượng sách</th>
                <th style="background:#0094ff">Trạng thái</th>
            </tr>
            
            @foreach (var item in Model)
            {
                <tr style="text-align: center;">
                    <td>
                        <button class="btn-success" type="button" data-toggle="collapse" data-target="#collapseExample-@item.MaChiTietMuon" aria-expanded="false" aria-controls="collapseExample">
                            Chi tiết
                        </button>
                    </td>
                    
                    <td>@item.NgayMuon</td>
                    <td>@item.HanTra</td>
                    <td>@item.SoLuongMuon</td>
                   @if (item.TrangThai == -1)
                        {
                            <td style="color:#0094ff;font-style:italic;">Đang chờ</td>
                        }
                   @if (item.TrangThai == 1)
                        {
                            <td style="color:#00ff21;font-style:italic;">Đã trả</td>
                        }
                   @if (item.TrangThai == 0)
                        {
                            <td style="color:#ff0000;font-style:italic;">Chưa trả</td>
                        }
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="collapse" id="collapseExample-@item.MaChiTietMuon">
                            <div class="card card-body">
                                <table>
                                    <tr>
                                        <th style="background:#0094ff">Tên sách</th>

                                        <th style="background:#0094ff">Ngày trả</th>
                                        <th style="background:#0094ff">Số lượng</th>
                                        <th style="background:#0094ff">Trạng thái</th>
                                    </tr>
                                   @foreach(var l in WebQLTV.BusinessLayer.CommonDataService.ListCTMuon(item.MaChiTietMuon)) {
                                <tr style="text-align: center;">
                                    <td>
                                        <div class="cart-info">
                                            <img src="~/bostorek/image/1.jpg" style="height:100px">
                                            <div>
                                                <p>
                                                    @foreach (var j in WebQLTV.BusinessLayer.CommonDataService.ListSach())
                                                    {
                                                        if (j.MaSach == l.MaSach)
                                                        {
                                                            <strong>@j.TenSach</strong><br />
                                                            <small>Năm xuất bản:@j.NamXuatBan</small><br />
                                                            <small>Nhà xuất bản:@j.MaNhaXuatBan</small><br />
                                                            <small>Ngôn ngữ:Tiếng Việt</small><br />

                                                        }
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                   @if (item.TrangThai != -1)
                                    {
                                        if (WebQLTV.BusinessLayer.CommonDataService.InUsedLS(item.MaChiTietMuon, l.MaSach).MaSach == l.MaSach)
                                        {
                                            <td>@WebQLTV.BusinessLayer.CommonDataService.InUsedLS(item.MaChiTietMuon, l.MaSach).NgayTra</td>
                                            <td>@l.SoLuong</td>

                                            if (WebQLTV.BusinessLayer.CommonDataService.InUsedLS(item.MaChiTietMuon, l.MaSach).TraDungHan)
                                            {
                                                <td style="color:#00ff21;font-style:italic;">Đúng hạn</td>
                                            }
                                            else
                                            {
                                                <td style="color:#ffd800;font-style:italic;">Trễ hạn</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="color:#ff0000;font-style:italic;">Chưa trả</td>
                                            <td>@l.SoLuong</td>
                                            <td style="color:#ff0000;font-style:italic;">Chưa trả</td>
                                        }
                                    }
                                    else
                                    {
                                       <td style="color:#0094ff;font-style:italic;">Đang chờ</td>
                                       <td>@l.SoLuong</td>
                                       <td style="color:#0094ff;font-style:italic;">Đang chờ</td>
                                    }

                                </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </table>

        
        
    </div>
    



    <!-- ------------footer----------- -->
    <!-- ------------------- js for toggle menu-------------- -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }

    </script>
    <script>
        const select = document.querySelector("select")
        select.onchange = () => {
            if (select.selectedIndex !== 0) {
                document.getElementById('ss').click();
            }
        };
    </script>

</body>

</html>

